{% extends "base.twig" %}

{% block content %}
  <div class="cheat-sheets">
    {% for item in menu %}
      <dl class="cheat-sheet" aria-labelledby="{{ item.label | toId }}">
        <dt class="cheat-sheet-title">
          <h2 id="{{ item.label | toId }}">{{ item.label }}</h2>
        </dt>

        {% for submenuItem in item.submenu %}
          <dd class="cheat-sheet-entry-type">
            <a href="{{ submenuItem.url }}">{{ submenuItem.label }}</a>
          </dd>
        {% endfor %}

      </dl>
    {% endfor %}
  </div>
{% endblock %}